/* share style */
.btn-primary{
    width: 180px;
height: 64px;
border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
border:none;
cursor: pointer;
}

.discreption{
    color: #727272;
font-size: 16px;
/* height:52px; */
}

/* work sans font */
 
 
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
 *{
    font-family: 'Work Sans', sans-serif;
 }
/* header background */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
margin-right:30px ;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 26px;
}
nav li a{
    text-decoration: none;
    color:#424242;
}
.nav-title{
    color:#131313;
text-align: center;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
line-height: normal;
}
/* bannar styles */
.bannar{
    text-align: center;
}
.bannar-content{
max-width:800px;
text-align:center ;
margin: 0 auto !important;
}
.bannar-title{
    color:#131313
font-size: 64px;
}
.bannar-image{
    margin-top: 50px;
    width: 100%;
}
/* main */ 
main{
    max-width: 1440px;
    margin:0 auto;
}
/* feature style */
.feature{
    display: flex;
    align-items: center;
    margin-top: 50px;

}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    
}
.feature-discreption{
    padding-left: 70px;
    padding-right: 70px;
}
.quick{
    color:#727272;
font-size: 45px;
font-weight: 500;
}
.of-our{
   color: #131313;
font-size: 45px;
font-weight: 700;
}
.featur{
    color: #FF900E;
font-size: 45px;
font-weight: 700;
}



/* responsive media query */
@media screen and (max-width:576px) {
    header{
        padding:20px;
    }
    
    
    .feature,
    nav{
        flex-direction: column;
        
    }
    .feature-image{
        grid-template-columns:1fr;
    }
   
    .bannar-title{
margin-left: 20px;
    }

    .feature-discreption{
   padding:20px;

}
}
/* tablet or medium device */
@media screen and (min-width: 576px) and (max-width:960px){
    
    
    .feature,
    nav{
        flex-direction: column;
    }
    header{
        padding: 30px;
    }
}
/* 